<nav class="main-nav">
  <div class="nav-container">
    <a href="{{ '/' | relative_url }}" class="nav-title">
      <h2>Imanol Schlag</h2>
    </a>
    <ul class="nav-links">
      <li><a href="{{ '/' | relative_url }}" {% if page.url == '/' %}class="active"{% endif %}>About</a></li>
      <li><a href="{{ '/research/' | relative_url }}" {% if page.url contains '/research' %}class="active"{% endif %}>Research</a></li>
      <li><a href="{{ '/team/' | relative_url }}" {% if page.url contains '/team' %}class="active"{% endif %}>Team</a></li>
      <li><a href="{{ '/teaching/' | relative_url }}" {% if page.url contains '/teaching' %}class="active"{% endif %}>Teaching</a></li>
      <!-- <li><a href="{{ '/explorations/' | relative_url }}" {% if page.url contains '/explorations' %}class="active"{% endif %}>Explorations</a></li> -->
      <li><a href="{{ '/cv/' | relative_url }}" {% if page.url contains '/cv' %}class="active"{% endif %}>CV</a></li>
    </ul>
  </div>
</nav>